@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}


body {
    max-width: 1400px;
    height: 100vh;
    background-color: var(--Cream);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container {
    display: flex;
    width: 540px;
    border-radius: 1px;
    background-color: var(--White);
    border-radius: 15px;
}

/************
IMAGE EXAMPLE
*************/

.container #image-example {
    background-image: url("../img/image-product-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 15px 0 0 15px;
}

/***********
INFO AND BUY
************/

.container #info-and-buy {
    width: 100%;
    max-width: 50%;
    height: 100%;
    padding: 25px;
}

.container #info-and-buy h2 {
    font-family: montserrat;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: normal;
    color: var(--Dark-grayish-blue);

}

.container #info-and-buy h1 {
    font-family: Fraunces, serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
}

.container #info-and-buy p {
    font-family: montserrat, sans-serif;
    color: var(--Dark-grayish-blue);
    line-height: 20px;
    margin-bottom: 30px;
}

.container #info-and-buy #price {
    color: var(--Dark-cyan);
    font-family: Fraunces;
    font-size: 30px;
    margin-right: 20px;
}

.container #info-and-buy #price-original {
    text-decoration: line-through;
}

.container #info-and-buy #btn-add-cart {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: var(--White);
    font-weight: bold;
    background-color: var(--Dark-cyan);
    cursor: pointer;
}

.container #info-and-buy #btn-add-cart:active {
    background-color: var(--Dark-grayish-blue);
}

.container #info-and-buy #btn-add-cart::before {
    position: absolute;
    content: '';
    background-image: url("../img/icon-cart.svg");
    background-size: cover;
    width: 18px;
    height: 18px;
    left: 20%;
    top: 30%;

}

@media (min-width:280px) and (max-width:375px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 90%;
        border-radius: 1px;
        background-color: var(--White);
        border-radius: 15px;
        margin: 15px;
        border-radius: 15px 15px 0 0;
    }

    .container #image-example {
        background-image: url("../img/image-product-mobile.jpg");
        max-width: 100%;
        height: 100%;
        max-height: 40%;
        border-radius: 15px 15px 0 0;
    }

    .container #info-and-buy {
        width: 100%;
        max-width: 100%;
        height: 60%;
        padding: 25px;
    }

}